// CSS Reset
html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-image: url('../../images/bg-mobile.svg');
  background-color: $violet;
}

.landing-page {
  padding: 2em;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px repeat(2, 1fr) auto;
  text-align: center;

  &__header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;  

    img {
      height: 30px;
    }
  }

  &__image {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    background-image: url('../../images/illustration-mockups.svg');
    background-size: 100% auto;
    background-repeat: no-repeat;
  }

  &__text {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2em;

    h1 {
      font-size: 20px;
    }

    p {
      font-family: 'Open Sans', sans-serif;
      font-size: 15px;
    }

    .btn {
      text-decoration: none;
      background-color: #F2F2F2;
      border-radius: 2em;
      padding: 5px 4em;
      color: $softMagenta;
      font-size: 10px;
      box-shadow: 0.1px 0.1px 1px black;

      &:hover {
        background-color: $softMagenta;
        color: white;
      }
    }
  }

  &__social-links {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    
    nav {
      display: flex;
      justify-content: center;

      li {
        display: inline;
        list-style-type: none;
        margin: 0 0.5em;
      }
    }
  }
}

i.fa {
  display: inline-block;
  border-radius: 60px;
  border: 0.5px solid white;
  padding: 0.5em 0.6em;
}

